<%= link_to "New URL", new_url_path %>



<table>
  <tr>
    <th> ID </th>
    <th> Original </th>
    <th> Short </th>
  </tr>
  <% @urls.each do |u| %>
  <tr>
    <td><%= u.id %></td>
    <td><%= u.name %></td>
    <td><%= u.short %></td>
  </tr>
  <% end %>
</table>
