<%= link_to "New URL", new_url_path %>



<div class= "container">
  <div class = "row">
    <div class= "col s1">
      <p>
       <b>ID</b>
      </p>
      <p>
        <% @urls.each do |u| %>
          <p><%= u.id %></p>
        <% end %>
      </p>
    </div>
    <div class= "col s5">
      <p>
       <b>Original</b>
      </p>
      <% @urls.each do |u| %>
        <p> <%= u.name %></p>
      <% end %>
    </div>
    <div class= "col s4">
      <p>
       <b>Short</b>
      </p>
      <% @urls.each do |u| %>
        <p> <%= u.short %></p>
      <% end %>
    </div>
  </div>
</div>
