<h1>Enter a url that you would like shortened!</h1>

 Original URL: <%= form_tag urls_create_path do %>
  <%= search_field_tag :term %>
  <%= submit_tag "Create url" %>
<% end %>

<%= params[:term] %>
